In [2]:
pwd

'/content'

In [3]:
cd drive/MyDrive/archive/

/content/drive/MyDrive/archive

In [4]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('movies.db')
c = conn.cursor()

movies = pd.read_csv('movies_metadata.csv')
clean_movies = movies[~movies['budget'].str.contains('jpg')].copy()
clean_movies['budget'] = clean_movies['budget'].astype(int)
clean_movies.to_sql('clean_movies', conn, if_exists='replace', index = False)

ratings_small = pd.read_csv('ratings_small.csv')
ratings_small.to_sql('ratings_small', conn, if_exists='replace', index = False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
q1 = pd.read_sql_query(
"""
SELECT  
    title,
    budget
FROM clean_movies
WHERE budget > 5000000
""", 
    con= conn
)

q1

                                               title    budget
0                                          Toy Story  30000000
1                                            Jumanji  65000000
2                                  Waiting to Exhale  16000000
3                                               Heat  60000000
4                                            Sabrina  58000000
...                                              ...       ...
5166                                         Detroit  34000000
5167                                Sivaji: The Boss  12000000
5168  Good Guys Go to Heaven, Bad Guys Go to Pattaya   5402000
5169                      The Visitors: Bastille Day  25868826
5170                       House of the Long Shadows   7500000

[5171 rows x 2 columns]

In [6]:
q2 = pd.read_sql_query("SELECT * FROM clean_movies WHERE original_language LIKE '%en%' AND title LIKE '% war %'", conn)
q2

    adult  ... vote_count
0   False  ...       19.0
1   False  ...        7.0
2   False  ...      172.0
3   False  ...       54.0
4   False  ...      288.0
5   False  ...       13.0
6   False  ...       30.0
7   False  ...       36.0
8   False  ...       21.0
9   False  ...        3.0
10  False  ...        6.0
11  False  ...        4.0
12  False  ...       12.0
13  False  ...       13.0
14  False  ...      298.0
15  False  ...        4.0
16  False  ...       10.0
17  False  ...        1.0
18  False  ...       32.0
19  False  ...       26.0
20  False  ...        0.0
21  False  ...      195.0
22  False  ...        0.0
23  False  ...       10.0
24  False  ...     5683.0
25  False  ...        0.0
26  False  ...        3.0
27  False  ...        7.0
28  False  ...        2.0
29  False  ...        1.0
30  False  ...       19.0
31  False  ...        1.0
32  False  ...        1.0
33  False  ...        7.0
34  False  ...       12.0
35  False  ...        8.0
36  False  ...      371.0
37  False  ...        0.0
38  False  ...        5.0
39  False  ...        0.0
40  False  ...        2.0
41  False  ...        4.0
42  False  ...        1.0

[43 rows x 24 columns]

In [15]:
q3 = pd.read_sql(
'''
SELECT 
   AVG(rating) AS 'Average Rating', 
   clean_movies.title As 'Title'
   FROM clean_movies
   LEFT JOIN ratings_small
        WHERE ratings_small.movieid = clean_movies.id
           GROUP BY clean_movies.title
''', con = conn)

q3

      Average Rating                                 Title
0           3.250000                 !Women Art Revolution
1           0.500000                           'Gator Bait
2           4.000000      'Twas the Night Before Christmas
3           4.000000              ...And God Created Woman
4           4.000000  00 Schneider - Jagd auf Nihil Baxter
...              ...                                   ...
2789        3.517857                                   xXx
2790        4.000000                        ¡Three Amigos!
2791        3.285714                          À nos amours
2792        4.500000                              Ödipussi
2793        4.500000                      Şaban Oğlu Şaban

[2794 rows x 2 columns]